<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name%>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
