<td><%= item.description %></td>
<td><%= item.done %></td>
<td><%= item.project %></td>
<td><%= link_to 'Show', item %></td>
<td><%= link_to 'Edit', edit_item_path(item) %></td>
<td><%= render partial: 'toggle', locals: { item: item } %></td>
<td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
