<h1>Listing items</h1>

<%= form_for :item_filter, url: items_filter_path, remote:true do |f| %>
  <p> Filter by: </p>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.collection_select(:project_id, Project.all, :id, :name, :include_blank => "Please select") %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.collection_select(:done, [[1, 'True'], [0, "False"]], :first, :last, :include_blank => "All") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Done</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="index_rows_container"><%= render partial: "index_rows", locals: { items: @items }%></tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
<%= link_to 'Projects', projects_path %>
